header {
   position: relative;
   width: 100%;
   min-height: auto;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
   background-position: center;
   background-color: #ff4757;
   text-align: center;
   color: white;
 }
 header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
  }
.img-icon{
  width: 20%;
  border: 0px solid;
  border-radius: 50%
}
 header .header-content .header-content-inner h1 {
   font-weight: 700;
   margin-top: 0;
   margin-bottom: 0;
   font-size: 30px;
   font-kerning:
   text-align: center;
 }
 @media (min-width: 768px) {
   header {
     min-height: 100%;
     text-align: center;
   }
   header .header-content {
     position: absolute;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     padding: 0 50px;
     text-align: center;
   }
   header .header-content .header-content-inner {
     max-width: 1000px;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     padding: 25px;
   }
   header .header-content .header-content-inner h1 {
     font-size: 50px;
     text-align: center;
   }
   header .header-content .header-content-inner h3 {
     font-size: 26px;
     max-width: 80%;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
   }
 }
 html,body{
   height: 100%;
   width: 100%;
 }
 .shadow {
    text-shadow: black 0.1em 0.1em 0.5em;
 }
 .titulo {
   font-family: 'Abril Fatface', cursive;

 }
 .text-font {
   font-family: 'Roboto', sans-serif;
 }
 footer {
   font size: 20px;
   background-color: white;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   color: #ff4757;
 }
.proximo {
  margin-top: -1px;
}
.text-center{
  text-align: center;
}
section {
  padding: 100px 0;
}

hr.light {
  border-color: #ff4757;
  border-width: 4px;
  max-width: 200px;
  background-color: white;
}
.background-section {
  background-color: white;
}
.thumbnail {
    border: 1px solid #643ccc00 !important;
}
.btn-default{
  color: white !important;
  background-color: #ff4757 !important;
  border-color: #ff4757 !important;
}
a:focus, a:hover {
    color: white !important;
    text-decoration: none !important;
    background-color: #0c2461 !important;
    border-color: #0c2461 !important;
}
.tamb-img {
  display: block !important;
  max-width: 100% !important;
  height: 420px !important;
}
.carousel-inner > .item > img {
    margin: 0 auto;
    display: block;
    width: 25%;
    height: auto;
}
